<!doctype html>
<html>
    <!-- HEAD -->
    <head>
        <meta charset="utf-8" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

        <title>
            <%= title %>
        </title>
    </head>

    <!-- BODY -->
    <body>
        <!-- NAV BAR -->
        <nav class="light-blue" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">Xpense</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>Welcome<span class="userName"></span>!</li>
                </ul>
            </div>
        </nav>
        <!-- NAV ENDS HERE -->
    <div class="container">
        <div class="card">
            <br><br>
            <h1 class="header center">Welcome to Xpense</h1>
            <div class="row center">
            <h5 class="header col s12 light">Your personal expenditure manager</h5>
            </div>
            <br><br>
            <div class="row center">
            <a href="/main" id="download-button" class="btn-large waves-effect waves-light light-blue">Get Started</a>
            </div>
            <br><br>
        </div>
    </div>
  </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script src="js/indexApp.js"></script>
    </body>
</html>
