<!doctype html>
<html>
    <!-- HEAD -->
    <head>
        <meta charset="utf-8" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

        <title>
            <%= title %>
        </title>
    </head>

    <!-- BODY -->
    <body>
        <!-- NAV BAR -->
        <nav class="blue" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">Xpense</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>Welcome<span class="userName"></span>!</li>
                </ul>
            </div>
        </nav>
        <!-- NAV ENDS HERE -->

      <div class="parallax-container valign-wrapper" style="height:350px">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
             </div>
          </div>
        </div>
        <div class="parallax"><img src="http://yhponline.com/wp-content/uploads/Business-Finance-for-Tech-Startups.jpg" alt="Unsplashed background img 2"></div>
      </div>

    <div class="container">
        <div class="">
            <br><br>
            <h1 class="header center">Welcome to Xpense</h1>
            <div class="row center">
            <h5 class="header col s12 light">Your Personal Investment Assistant</h5>
            </div>
            <br><br>
            <div class="row center">
            <a href="/main" id="download-button" class="btn-large waves-effect waves-light light-blue">Get Started</a>
            </div>
            <br><br>
        </div>
    </div>
  </div>
  <div class="parallax-container valign-wrapper" style="height:400px">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
         </div>
      </div>
    </div>
    <div class="parallax"><img src="http://usabusinesscapital.com/wp-content/uploads/2015/01/businessSolutions-f5a530accddd7a4403cd85280d4b3e1e1421463516.jpg" alt="Unsplashed background img 2"></div>
  </div>
  <div class="container">
      <div class="">
          <br><br>
          <h3 class="header center">Take Control Of Your Financial Future Today.</h3>
          <div class="row center">
          <h5 class="header col s12 light">Features</h5>
          <ul>
              <li class="header col s12 light">
                  Data Visualization
              </li>
              <li class="header col s12 light">
                  Profit Visualization
              </li>
              <li class="header col s12 light">
                  Expenditure Management
              </li>
          </ul>
          </div>
          <br><br>
      </div>
  </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script src="js/indexApp.js"></script>
         <script src="js/init.js"></script>
    </body>
</html>
