<!doctype html>
<html>
    <!-- HEAD -->
    <head>
        <meta charset="utf-8" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

        <title>
            Xpense | Welcome
        </title>
    </head>

    <!-- BODY -->
    <body>
        <nav class="light-blue" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">Xpense</a>
            </div>
        </nav>
        <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center">Welcome to Xpense</h1>
        <div class="row center">
        <h5 class="header col s12 light">Your personal expenditure manager.</h5>
        </div>
        <div class="row center">
        <a href="" id="download-button" class="btn-large waves-effect waves-light light-blue">Get Started</a>
        </div>
        <br><br>

    </div>
  </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    </body>
</html>
