<!doctype html>
<html>
    <!-- HEAD -->
    <head>
        <meta charset="utf-8" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

        <title>
            Xpense | Get Started
        </title>
    </head>

    <!-- BODY -->
    <body>
        <!-- NAV BAR -->
        <nav class="light-blue" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">Xpense</a>
            </div>
        </nav>
        <!-- NAV ENDS HERE -->
        <div class="container">
            <div class="row" >
                <div class="col s12">
                    <div class="card">
                        <div class="card-content" >
                            <h3>
                                Hello, Tatparya!
                            </h3>

                            <div class="row center">
                            <a href="/mainapp" id="download-button" class="btn-large waves-effect waves-light light-blue">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    </body>
</html>
