rect{
    fill: #9ccc65;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.header {
    color: rgba(255,255,255,0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
.parallax-container .section {
  position: absolute;
  top: 40%;
}
#index-banner .section {
  top: 10%;
}
}

@media only screen and (max-width : 600px) {
#index-banner .section {
  top: 0;
}
}

h2{
    padding:10px;
}

#svText{
    font-weight: bold;
    fill: #1b5e20;
}

.card{
    margin-top:20px;
}

svg{
    margin:25px;
}
